/* Another value of text-decoration property is blink which makes the text blink, however it is deprecated and most browsers ignore it.
. */

/* An RGBA color value is specified with: rgba(red, green, blue, alpha). The alpha parameter is a number between 0.0 (fully transparent) and 1.0 (fully opaque). */

/* HSL (Hue, Saturation, Lightness) Colors
An HSL color value is specified with: hsl(hue, saturation, lightness).
Hue is a degree on the color wheel ranging from 0 to 360
0 (or 360) is red, 120 is green, 240 is blue.
Saturation is a percentage value: 100% is the full color.
Lightness is also a percentage; 0% is dark (black) and 100% is white. HSLA color values are an extension of HSL color values with an alpha channel - which specifies the opacity for a color (just like RGBA). */
html {
  scroll-behavior: smooth;
}

/* The z-index works only on positioned elements (position:absolute, position:relative, or position:fixed). */

/* The first length for the horizontal offset will cast the shadow to the right of the box (required). The second length is for the vertical offset that will cast the shadow to below the box (required). There are also two optional values for the box-shadow element, which are blur and spread. The color of the shadow (optional). */

.mainDisplay {
  font-size: 35px;
  font-family: florenece, cursive;
  font-weight: bolder;
  padding: 10px;
  text-align: center;
  background: linear-gradient(#ffed4d, #ffac4d, #dd4848);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.redZindex {
  z-index: 3;
  position: relative;
  background-color: #dd4848;
  width: 30%;
  height: 30%;
  color: #fff;
  margin-top: -40px;
  margin-left: 55%;
  text-align: center;
  box-shadow: 10px 10px 5px 5px #888888;
}

.orangeZindex {
  z-index: 2;
  position: relative;
  background-color: #ffac4d;
  width: 30%;
  height: 30%;
  color: slategray;
  margin-top: -40px;
  margin-left: 35%;
  text-align: center;
  box-shadow: 10px 10px 5px 5px #888888;
}

.yellowZindex {
  z-index: 1;
  position: relative;
  background-color: #ffed4d;
  width: 30%;
  height: 30%;
  color: black;
  margin-left: 15%;
  text-align: center;
  box-shadow: 10px 10px 5px 5px #888888;
}

/* 5px – the X-coordinate, 2px – the Y-coordinate, 4px – the blur radius, slategray – the color of the shadow */
.textShadowAndColor {
  text-shadow: 5px 2px 4px slategray;
  text-align: center;
}

table {
  border-collapse: separate;
  empty-cells: hide;
}

td.topUnderline {
  vertical-align: top;
  text-decoration: underline;
  text-decoration-color: #dd4848;
}
td.middleLinethrough {
  vertical-align: middle;
  text-decoration: underline overline;
  text-decoration-color: #dd4848;
}
td.bottomOverline {
  vertical-align: bottom;
  text-decoration: overline;
  text-decoration-color: #dd4848;
}
td:hover {
  color: #dd4848;
  text-decoration-color: #ffed4d;
}

th.cursiveBolder {
  font-family: Florence, cursive;
  font-weight: bold;
  text-align: center;
}

.tableCursiveBolder {
  font-family: Florence, cursive;
  font-weight: bolder;
}

.tableCursiveBold {
  font-family: Florence, cursive;
  font-weight: bold;
}

.centeredText {
  text-align: center;
}

#section1 {
  height: 850px;
}

#section2 {
  height: 850px;
}

#section3 {
  height: 850px;
}

.roundBlack {
  /* webkit prefix for chrome and safari */
  -webkit-border-radius: 24px;
  /* moz prefix for firefox */
  -moz-border-radius: 24px;
  /* o prefix for opera */
  -o-border-radius: 24px;
  /* ms prefix for internet explorer */
  -ms-border-radius: 24px;
  border-radius: 24px;
  border: 10px double black;
  padding: 10px;
}

.roundWhite {
  /* webkit prefix for chrome and safari */
  -webkit-border-radius: 24px;
  /* moz prefix for firefox */
  -moz-border-radius: 24px;
  /* o prefix for opera */
  -o-border-radius: 24px;
  /* ms prefix for internet explorer */
  -ms-border-radius: 24px;
  border-radius: 24px;
  border: 10px double white;
  padding: 10px;
}

.marginTop {
  margin-top: 10px;
}

.marginBottom {
  margin-bottom: 20px;
}

.roundedCorners {
  -webkit-border-radius: 24px;
  border-radius: 24px;
}

.totalBackground {
  background: linear-gradient(white, #ffed4d, #ffac4d);
}

.partialBackground {
  background: linear-gradient(#ffed4d, #ffac4d 60%);
}

.partialBackgroundRed {
  color: white;
  background: linear-gradient(#ffac4d 50%, #dd4848, black);
}

.blackText {
  color: black;
}

#msg {
  font-size: 35px;
  font-family: florenece, cursive;
  font-weight: bolder;
  /* background: linear-gradient(#ffed4d, #ffac4d, #dd4848);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text; */
}

.circle {
  height: 6rem;
  width: 6rem;
  background-color: white;
  border-radius: 12rem;
  display: inline-block;
}

.yellowStripes {
  background-image: radial-gradient(circle,
    #ffed4d 0%,
    #ffed4d 5%,
    #FFF1BC 5%,
    #FFF1BC 20%,
    #ffed4d 20%,
    #ffed4d 35%,
    #FFF1BC 35%,
    #FFF1BC 50%,
    #ffed4d 50%,
    #ffed4d 65%,
    #FFF1BC 65%,
    #FFF1BC 80%,
    #ffed4d 80%,
    #ffed4d 100%);
}

.orangeStripes {
  background-image: radial-gradient(circle,
    #ffac4d 0%,
    #ffac4d 5%,
    #fad7b0 5%,
    #fad7b0 20%,
    #ffac4d 20%,
    #ffac4d 35%,
    #fad7b0 35%,
    #fad7b0 50%,
    #ffac4d 50%,
    #ffac4d 65%,
    #fad7b0 65%,
    #fad7b0 80%,
    #ffac4d 80%,
    #ffac4d 100%);
}

.redStripes {
  background-image: radial-gradient(circle,
    #dd4848 0%,
    #dd4848 5%,
    #dda4a4 5%,
    #dda4a4 20%,
    #dd4848 20%,
    #dd4848 35%,
    #dda4a4 35%,
    #dda4a4 50%,
    #dd4848 50%,
    #dd4848 65%,
    #dda4a4 65%,
    #dda4a4 80%,
    #dd4848 80%,
    #dd4848 100%);
}

.yellowOrangeRedStripes {
    background-image: radial-gradient(circle,
      #dd4848 0%,
      #dd4848 5%,
      #ffac4d 5%,
      #ffac4d 20%,
      #ffed4d 20%,
      #ffed4d 35%,
      #dd4848 35%,
      #dd4848 50%,
      #ffac4d 50%,
      #ffac4d 65%,
      #ffed4d 65%,
      #ffed4d 80%,
      black 80%,
      black 100%);
  }
