td.topUnderline {
    vertical-align: top;
    text-decoration: underline;
    text-decoration-color: red;
}
td.middleLinethrough {
    vertical-align: middle;
    text-decoration: underline overline line-through;
    text-decoration-color: red;
}
td.bottomOverline {
    vertical-align: bottom;
    text-decoration: overline;
    text-decoration-color: red;
}
td:hover {
    color:red;
    text-decoration-color: blue
}

table {
    height: 150px;
    font-family: Florence, cursive;
    font-weight: bolder;
    border-color: blue;
}